<h1>Song Student Form</h1>
<%= form_for @song do |f| %>
  <%= f.label 'Name' %><br>
  <%= f.text_field :name %><br>

  <%= f.label 'Artist ID' %><br>
  <%= f.text_field :artist_id %><br>

  <%= f.label 'Last Name' %><br>
  <%= f.text_field :last_name %><br>

  <%= f.submit "Update Song" %>
<% end %>
